* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#main {
    min-height: 100vh;
    width: 100vw;
    background-color: red;
}

#navbar {
    height: 10vh;
    width: 100vw;
    padding: 0 5vw;
    position: fixed;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    mix-blend-mode: screen;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#navpart1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#navpart1 a {
    margin-left: 3vw;
    text-transform: uppercase;
    font-family: gilroy;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: 600;
}

#navpart2 a {
    margin-left: 3vw;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: gilroy;
    text-decoration: none;
    font-size: 1.7vw;
    font-weight: 600;
}

#navpart1 img {
    height: 3.5vw;
}

#navpart2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#page1 {
    width: 100%;
    min-height: 100vh;
    background-color: #222;
}

#page2 {
    width: 100%;
    min-height: 100vh;
    background-color: #222;
}