* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#main {
    min-height: 100vh;
    width: 100vw;
    background-color: red;
}

#navbar {
    height: 10vh;
    width: 100vw;
    padding: 0 5vw;
    position: fixed;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    mix-blend-mode: screen;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#navpart1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#navpart1 a {
    margin-left: 3vw;
    text-transform: uppercase;
    font-family: gilroy;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: 600;
}

#navpart2 a {
    margin-left: 3vw;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: gilroy;
    text-decoration: none;
    font-size: 1.7vw;
    font-weight: 600;
}

#navpart1 img {
    height: 3.5vw;
}

#navpart2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#page1 {
    width: 100%;
    min-height: 100vh;
    background-color: #222;
}
#page1 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-size: 8vw;
    width: 100vw;
    font-family: Vanguard CF;
    letter-spacing: .5vw;
}

#page2 {
    width: 100%;
    min-height: 100vh;
    background-color: #222;
}
#image1{
    position: absolute;
    width: 10vw;
    left: 15vw;
    top: 30vh;
    z-index: 99;
  transform: rotate(-30deg);
}
#image2{
    position: absolute;
    width: 10vw;
    right: 15vw;
    top: 30vh;
    z-index: 99;
  transform: rotate(30deg);
}
#image3{
    position: absolute;
    width: 10vw;
    right: 40vw;
    top: 65vh;
    z-index: 99;
}
#image4{
    position: absolute;
    width: 10vw;
    left: 30vw;
    top: 66vh;
    z-index: 99;
}
#image5{
    position: absolute;
    width: 10vw;
    left: 18vw;
    top: 60vh;
    transform: rotate(-40deg);
    z-index: 99;
   
}
#image6{
    position: absolute;
    width: 10vw;
    right: 18vw;
    top: 60vh;
    transform: rotate(40deg);
    z-index: 99;
   
}
#image7{
    position: absolute;
    width: 10vw;
    right: 40vw;
    top: 10vh;
    
    z-index: 99;
   
}
#image8{
    position: absolute;
    width: 15vw;
    left: 30vw;
    top: 10vh;
    transform: rotate(-10deg);
    z-index: 99;
   
}
#image9{
    position: absolute;
    width: 10vw;
    left: 25vw;
    top: 30vh;
    transform: rotate(-10deg);
    z-index: 99;
   
}
#image10{
    position: absolute;
    width: 10vw;
    right: 26vw;
    top: 30vh;
    transform: rotate(10deg);
    z-index: 99;
   
}
button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 5vh;
    width: 10vw;
    font-size: .8vw;
    font-weight: 900;
    background-color: orange;
    color: black;
    border-radius: 20px;
  border: none;
}